---
import Image from "../components/Image.astro";
import pepe from "./pepe.json";
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro</title>
	</head>
	<body>
		<header>
      <h1>pepe.town</h1>
    </header>
    <main>
      {pepe.map((peepo) => <Image {...peepo} /> )}
    </main>
  </body>
</html>

<style lang="scss">
  body {
    background: #000000;
  }
  header {
    h1 {
      color: #ffffff;
      text-align: center;
      font-size: 2rem;
    }
  }

  main {
    display: flex;
    flex-wrap: wrap;
    margin: 0 4px;
  }

  @media (min-width: 640px) {
    main {
      width: 80%;
      margin: 0 auto;
    }
  }
</style>
