---
interface Props {
  count: number;
}

const {count} = Astro.props;
---
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Pepe Town</title>
		<script async src="https://analytics.umami.is/script.js" data-website-id="927c15b8-6efd-473d-a8f9-c49c8a752a25"></script>
	</head>
	<body>
		<header>
      <a href="/">pepe.town</a>
      <span>count: {count}</span>
    </header>
    <main>
      <slot />
    </main>
  </body>
</html>

<style lang="scss">
  body {
    background: #000000;
  }
  header {
    margin-bottom: 8px;
    a {
      display: block;
      padding: 8px;
      color: #ffffff;
      text-decoration: none;
      text-align: center;
      font-size: 2rem;
      font-weight: bold;
    }

    span {
      position: absolute;
      top: 16px;
      right: 16px;
      color: #ffffff;
    }
  }
  main {
    display: flex;
    flex-wrap: wrap;
    margin: 0 4px;
  }

  @media (min-width: 640px) {
    main {
      width: 80%;
      margin: 0 auto;
    }
  }
</style>
